/********************overall***********************/

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
    position: flex;
    margin: 0;
    background-image: url("/images/istockphoto-845969562-2048x2048.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

table {
    width: 100%;
}

article {
    font-size: 1.5rem;
    line-height: 2rem;
}

div.main {}


/********************overall***********************/


/********************header***********************/

#header {
    display: flex;
    background: #00aa77;
    background-image: url("/images/ZenBG-1.png"), url("/images/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}

.header_image {
    height: 100px;
    width: 200px;
}

#header_quote {
    color: white;
    text-align: center;
    width: 400px;
    margin: 20px auto 20px;
    font-size: 1.2em;
}


/********************header***********************/


/********************nav***********************/

ul#navigation-list {
    font-size: 1.2em;
    display: flex;
    text-align: center;
    align-items: center;
}

ul#navigation-list li {
    padding-top: 10px;
    width: 100%;
    display: inline;
}

nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: rgb(154, 156, 150, .6);
}


/********************nav***********************/


/********************main***********************/

.main_part_index {
    line-height: 200%;
}

.main_part {
    line-height: 200%;
    font-size: 1.2em;
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
}

#epilobium {
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#epilobium>article {
    height: 100vh;
    width: 90%;
    padding-right: 2rem;
}

ul#goodness-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    list-style-type: square;
}

ul#goodness-list li {
    width: 100%;
    display: inline;
}

#viewOfEpilobium {
    width: 100%;
    height: 100%;
}

#index_article {
    text-align: center;
    color: #f3f2f2;
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cupOfTea {
    width: 50%;
    height: 600px;
}

#preparation {
    position: relative;
    height: 100vh;
}

#preparation>img {
    width: 100%;
    height: 100vh;
}

#preparation>article {
    color: #F3F3F2;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    background: rgb(154, 156, 150, .4);
    width: 40%;
}

#production {
    margin: 5% 0;
    width: 100%;
    height: 100vh;
}

#production>article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

#production>article>table {
    width: 80%;
    height: 50%;
    margin: 0 10%;
    text-align: center;
}

#production>article>p {
    width: 80%;
    margin: 0 10%;
}

#ingredientsImg {
    width: 100%;
}

#tea {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#tea>img {
    height: 100%;
    width: 100%;
}

#tea>article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(154, 156, 150, .2);
}

div.ingredientsSection {
    position: relative;
}

article.ingredientsSection {
    color: white;
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(154, 156, 150, .4);
}

#goodness {
    position: relative;
    height: 100vh;
}

#goodness>img {
    height: 100%;
    width: 100%;
    opacity: .5;
    position: fixed;
}

#goodness>article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quality {
    padding: 5%;
    height: 100vh;
}

#contact {
    height: 100vh;
    position: relative;
}

#contact>img {
    height: 100%;
    width: 100%;
    opacity: .5;
}

#contact>article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/********************main***********************/


/********************footer***********************/

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00aa77;
    background-image: url("/images/ZenBG-1.png"), url("/images/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}


/********************footer***********************/

div.quote-slide-left {
    width: 100%;
    overflow: hidden;
}

div.quote-slide-left p {
    color: #f3f2f2;
    animation: slide-left 60s linear infinite running;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: -70%;
        width: 100%;
    }
}