@-webkit-keyframes article {
  0% {
    top: 40%;
    left: 10%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    top: 40%;
    left: 10%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%);
  }
}

@keyframes article {
  0% {
    top: 40%;
    left: 10%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    top: 40%;
    left: 10%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1), translate(-50%, -50%);
            transform: scale(1), translate(-50%, -50%);
  }
}

#index_article {
  animation: article 1s linear both;
  -webkit-animation: article 1s linear both;
  -moz-animation: article 1s linear both;
  -o-animation: article 1s linear both;
}

@-webkit-keyframes goodness-list {
  from {
    left: 110%;
  }
  to {
    left: 0;
  }
}

@keyframes goodness-list {
  from {
    left: 110%;
  }
  to {
    left: 0;
  }
}

.animation ul#goodness-list li {
  animation: goodness-list 1s ease both;
  -webkit-animation: goodness-list 1s ease both;
  -moz-animation: goodness-list 1s ease both;
  -o-animation: goodness-list 1s ease both;
}

ul#goodness-list li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

ul#goodness-list li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

ul#goodness-list li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

ul#goodness-list li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

ul#goodness-list li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

ul#goodness-list li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

ul#goodness-list li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

ul#goodness-list li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

ul#goodness-list li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

ul#goodness-list li:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

ul#goodness-list li:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

article#epilobium-article.animation p:nth-child(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

article#epilobium-article.animation p:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

article#epilobium-article.animation p:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

article#epilobium-article.animation p:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

article#epilobium-article.animation p:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

article#epilobium-article.animation p {
  position: relative;
  animation: goodness-list 1s ease both;
  -webkit-animation: goodness-list 1s ease both;
  -moz-animation: goodness-list 1s ease both;
  -o-animation: goodness-list 1s ease both;
}

@-webkit-keyframes tea-article {
  from {
    left: 125%;
  }
  to {
    left: 75%;
  }
}

@keyframes tea-article {
  from {
    left: 125%;
  }
  to {
    left: 75%;
  }
}

article#tea_article.animation {
  animation: tea-article 2s ease both;
  -webkit-animation: tea-article 2s ease both;
  -moz-animation: tea-article 2s ease both;
  -o-animation: tea-article 2s ease both;
}

#preparation > article.animation {
  animation: tea-article 2s ease both;
  -webkit-animation: tea-article 2s ease both;
  -moz-animation: tea-article 2s ease both;
  -o-animation: tea-article 2s ease both;
}

@-webkit-keyframes ingredients-article {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@keyframes ingredients-article {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

.animation article.ingredientsSection {
  animation: ingredients-article 2s ease both;
  -webkit-animation: ingredients-article 2s ease both;
  -moz-animation: ingredients-article 2s ease both;
  -o-animation: ingredients-article 2s ease both;
}

@-webkit-keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: -70%;
    width: 100%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: -70%;
    width: 100%;
  }
}

div.quote-slide-left p {
  animation: slide-left 60s linear infinite running;
  -webkit-animation: slide-left 60s linear infinite running;
  -moz-animation: slide-left 60s linear infinite running;
  -o-animation: slide-left 60s linear infinite running;
}

@-webkit-keyframes rotate_animation {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes rotate_animation {
  0% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.animation table#production_table {
  animation: rotate_animation 1s ease both;
  -webkit-animation: rotate_animation 1s ease both;
  -moz-animation: rotate_animation 1s ease both;
  -o-animation: rotate_animation 1s ease both;
}

.animation table#goodness_table {
  animation: rotate_animation 2s ease both;
  -webkit-animation: rotate_animation 2s ease both;
  -moz-animation: rotate_animation 2s ease both;
  -o-animation: rotate_animation 2s ease both;
}
/*# sourceMappingURL=animation.css.map */