@keyframes article {
    0% {
        top: 40%;
        left: 10%;
        transform: scale(0);
    }
    50% {
        top: 40%;
        left: 10%;
        transform: scale(0.5);
    }
    100% {
        transform: scale(1), translate(-50%, -50%);
    }
}

#index_article {
    animation: article 1s linear both;
    -webkit-animation: article 1s linear both;
    -moz-animation: article 1s linear both;
    -o-animation: article 1s linear both;
}

@keyframes goodness-list {
    from {
        left: 110%;
    }
    to {
        left: 0;
    }
}

.animation ul#goodness-list li {
    animation: goodness-list 1s ease both;
    -webkit-animation: goodness-list 1s ease both;
    -moz-animation: goodness-list 1s ease both;
    -o-animation: goodness-list 1s ease both;
}

$goodness-list-li-number: 11;
@for $i from 1 through $goodness-list-li-number {
    ul#goodness-list li:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
    }
}

$epilobium-p-number: 5;
@for $i from 1 through $epilobium-p-number {
    article#epilobium-article.animation p:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
    }
}

article#epilobium-article.animation p {
    position: relative;
    animation: goodness-list 1s ease both;
    -webkit-animation: goodness-list 1s ease both;
    -moz-animation: goodness-list 1s ease both;
    -o-animation: goodness-list 1s ease both;
}

@keyframes tea-article {
    from {
        left: 125%;
    }
    to {
        left: 75%;
    }
}

article#tea_article.animation {
    animation: tea-article 2s ease both;
    -webkit-animation: tea-article 2s ease both;
    -moz-animation: tea-article 2s ease both;
    -o-animation: tea-article 2s ease both;
}

#preparation>article.animation {
    animation: tea-article 2s ease both;
    -webkit-animation: tea-article 2s ease both;
    -moz-animation: tea-article 2s ease both;
    -o-animation: tea-article 2s ease both;
}

@keyframes ingredients-article {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
}

.animation article.ingredientsSection {
    animation: ingredients-article 2s ease both;
    -webkit-animation: ingredients-article 2s ease both;
    -moz-animation: ingredients-article 2s ease both;
    -o-animation: ingredients-article 2s ease both;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: -70%;
        width: 100%;
    }
}

div.quote-slide-left p {
    animation: slide-left 60s linear infinite running;
    -webkit-animation: slide-left 60s linear infinite running;
    -moz-animation: slide-left 60s linear infinite running;
    -o-animation: slide-left 60s linear infinite running;
}

@keyframes rotate_animation {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.animation table#production_table {
    animation: rotate_animation 1s ease both;
    -webkit-animation: rotate_animation 1s ease both;
    -moz-animation: rotate_animation 1s ease both;
    -o-animation: rotate_animation 1s ease both;
}

.animation table#goodness_table {
    animation: rotate_animation 2s ease both;
    -webkit-animation: rotate_animation 2s ease both;
    -moz-animation: rotate_animation 2s ease both;
    -o-animation: rotate_animation 2s ease both;
}